.login {
  height: 100vh;
  // margin-top: 3rem;
  background-color: #9A616D;

  .login-container {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    
    .login-card {
      border-radius: 1rem;
    }
  }
}
